<!DOCTYPE html>
<html mip>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v1/mip.css">
    <link rel="canonical" href="https://dashidan.com/article/{{article_type}}/{{sub_folder}}/{{fileNum}}.html">
    <title>{{description.title}}</title>
    <meta name="description" content="{{description.desc}}">
    <style mip-custom>
        {{{css_bootstrap}}}
        {{{css_dashidan}}}
    </style>

    <noscript>
        <style mip-officialrelease>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none;
            }
        </style>
    </noscript>

    <script  type="application/ld+json"> {
       "@context": "https://zhanzhang.baidu.com/contexts/cambrian.jsonld",
       "@id": "https://mip.dashidan.com/article/{{article_type}}/{{sub_folder}}/{{fileNum}}.html",
       "title":"{{description.title}}",
       "description": "{{description.desc}}",
       "pubDate": "{{date_published}}",
       "isOriginal": "1"
}</script>

    <script src="https://c.mipcdn.com/extensions/platform/v1/mip-cambrian/mip-cambrian.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="http://mip.localhost/index.html">大屎蛋教程网</a>
    </div>
</nav>
<div class="container-fluid">
    <div>
        <a href="http://mip.localhost/index.html">首页</a> > <a
            href="http://mip.localhost/article/{{article_type}}/index.html">{{article_type}}</a>
    </div>

    <div class="dsd_content">
        <div id="xs_index" class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            {{#each all_file_name}}
                <div class="dsd_title">
                    <span id="{{this.sub_folder}}_title">- {{this.category}}</span>
                </div>
                <div id="{{this.sub_folder}}" class="dsd_catalog_left_show">
                    {{#each this.article}}
                        <div class="single_line">
                            <a href="http://mip.localhost/article/{{../../article_type}}/{{../this.sub_folder}}/{{this.fileNum}}.html">{{this.fileName}}</a>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>

<!--百度统计组件，外链mip-stats-baidu.js -->
<mip-stats-baidu token="6632e058970afc4f6d1475330c7682cd"></mip-stats-baidu>
<!--mip 运行环境-->
<script src="https://c.mipcdn.com/static/v1/mip.js"></script>
<!--分享组件 代码-->
<script src="https://c.mipcdn.com/static/v1/mip-share/mip-share.js"></script>
<!--百度统计组件 代码-->
<script src="https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script>
</body>
</html>
