<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{description.title}}</title>
    <meta name="description" content="{{description.desc}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <link rel="amphtml" href="https://amp.dashidan.com/article/{{article_type}}/{{sub_folder}}/{{fileNum}}.html">

    <link rel="stylesheet" href="http://localhost/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost/css/dashidan.css">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
                                                          google_ad_client: "ca-pub-8924316869528600",
                                                          enable_page_level_ads: true
                                                      });
    </script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?6632e058970afc4f6d1475330c7682cd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://localhost/index.html">大屎蛋教程网</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost/index.html">首页</a></li>
            <li><a href="http://localhost/about.html">关于</a></li>
            <li><a href="http://localhost/thanks.html">鸣谢</a></li>
        </ul>
    </div>
</nav>
<div class="fullscreen">
    <div class="container-fluid">
        <div>
            <a href="http://localhost/index.html">首页</a> > <a
                href="http://localhost/article/{{article_type}}/index.html">{{article_type}}</a>
        </div>

        <div class="dsd_content">
            <div id="xs_index" class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                {{#each all_file_name}}
                    <!-- 循环1-->
                    <div class="dsd_title" onclick="clickTitle('{{this.sub_folder}}')">
                        <span id="{{this.sub_folder}}_title">- {{this.category}}</span>
                    </div>
                    <div id="{{this.sub_folder}}" class="dsd_catalog_left_show">
                        <!-- 循环2-->
                        {{#each this.article}}
                            <div class="single_line">
                                <a href="http://localhost/article/{{../../article_type}}/{{../this.sub_folder}}/{{this.fileNum}}.html">{{this.fileName}}</a>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="http://localhost/js/jquery-3.2.1.min.js"></script>
<script src="http://localhost/js/vendor/modernizr-custom.js"></script>
<script src="http://localhost/js/bootstrap.js"></script>
<script src="http://localhost/js/google-code-prettify/run_prettify.js"></script>
<script src="http://localhost/js/main.js"></script>
</body>
</html>
